*.pdf
*.aux
*.bbl
*.toc
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex
*.toc
*-blx.bib
*.pyc
*.swp
*.fls
*.fdb_latexmk
data/reddit/
presentations/traag/notebook/data/
**/.ipynb_checkpoints/
