*.pdf
*.aux
*.auxlock
*.bbl
*.toc
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex
*.synctex.gz
*.toc
*-blx.bib
*.pyc
*.swp
*.swo
*.fls
*.fdb_latexmk
*.gnuplot
*.table
*.vrs
*.jpg
*.png
*.pdf
data/reddit/
presentations/traag/notebook/data/
**/.ipynb_checkpoints/
